<form class="definition" action="/add_additional_definition" method="post">
  <div class="form-group">
    <label for="definition">Enter addditional definition of that word:</label>
    <input type="text" name="additional_definition"><br>
    <input type="hidden" name="id" value="<%= @id %>" id="<%= @id %>">
  </div>
  <input type="submit" name="submit" value="Add" class="btn btn-warning">
</form>
