<h2>Word: <%= @word[1] %></h2><br>
<h3>Definition(s): </h3>
  <ul>
    <% @word[2..@word.length].each do |definition| %>
    <li> <%= definition %> </li>
    <% end %>
  </ul>
<form class="add_definition" action="/add/definition/<%=@word[0] %>">
  <div class="form-group">

    <input type="hidden" name="<%= @id %>"><br>
  </div>
  <input type="submit" name="submit" value="Add Additional Definition" class="btn btn-warning">
</form>
<p style="float:right"><a href="/words">back</a></p>
